@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk"),
    url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
 background-color: #151515;
 color: #fff;
 font-family: "SpaceGrotesk";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}